.movies {
    padding: 80px 0 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    column-gap: 24px;
    row-gap: 37px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .movies {
        padding-bottom: 30px;
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .movies {
        padding: 49px 0 26px;
        grid-template-columns: repeat(auto-fit, 300px);
        row-gap: 14px;
    }
}
