.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__wrapper {
    width: 100%;
    min-height: 335px;
}

.form__group {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form__group_visible {
    display: flex;
}

.form__input {
    margin: 0 0 24px;
    padding: 18px 0 10px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    background-color: transparent;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.form__input:hover {
    cursor: pointer;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
}

.form__input_type_error {
    margin: 0 0 6px;
    color: #FF4062;
}

.form__input_type_error:focus {
    border-bottom: 1px solid #FF4062;
}

.form__input-error {
    margin: 0 0 6px;
    display: none;
    width: 100%;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FF4062;
}

.form__input-error_active {
    display: flex;
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.form__submit-button {
    padding: 13px 0 15px;
    border: 0;
    width: 100%;
    background-color: #000000;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.form__submit-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .form__wrapper {
        min-height: 423px;
    }

    .form__submit-button {
        padding: 15px 0 15px;
        font-size: 12px;
        line-height: 15px;
    }

}
