.content {
    min-height: calc(100vh - 173px - 76px);
    width: calc(100% - 2*(70px));
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_type_landing {
    width: 100%;
    max-width: none;
}

@media screen and (max-width: 768px) {
    .content {
        min-height: calc(100vh - 172px - 80px);
        width: calc(100% - 2*(30px));
    }

    .content_type_landing {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .content {
        min-height: calc(100vh - 271px - 79px);
        width: calc(100% - 2*(10px));
    }

    .content_type_landing {
        width: 100%;
    }
}
