.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear, visibility 0s linear 0.4s;
    z-index: 1;
}

.menu_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s linear;
}

.menu__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    background: #FFFFFF;
}

.menu__close-button {
    margin: 22px 22px 105px 0;
    padding: 0;
    height: 31px;
    width: 31px;
    border: none;
    background-color: transparent;
    background-image: url(../../images/close-button.svg);
    background-size: cover;
    align-self: flex-end;
}

.menu__close-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.menu__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (32px + 90px + 105px + 31px + 22px));
    list-style-type: none;
    align-items: center;
}

.menu__links-item {
    margin: 0 0 28px 0;
}

.menu__links-item:last-of-type {
    margin: 0;
}

.menu__link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.menu__link:hover {
    opacity: 0.5;
    border-bottom: 2px solid #000000;
    cursor: pointer;
}

.menu__link:focus {
    border-bottom: 2px solid #000000;
}

.account-button {
    margin-left: 50px;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(170, 170, 170, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.account-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.account-button_type_menu {
    margin: 0 0 90px 0;
}

.account-button__icon {
    margin-right: 7px;
}

@media screen and (max-width: 768px) {
    .account-button {
        display: none
    }

    .account-button_type_menu {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .menu__container {
        width: 100%;
    }

    .menu__close-button {
        margin: 13px 13px 99px 0;
    }
    
    .menu__links {
        min-height: calc(100vh - (32px + 46px + 99px + 13px + 22px));
    }

    .menu__links-item {
        margin: 0 0 24px 0;
    }

    .account-button_type_menu {
        margin: 0 0 46px 0;
    }
}
